* {
    padding: 0px;
    margin: 0px;
}


@font-face {
    font-family: 'acherusgrotesque-regular';
    src: url('fonts/acherusgrotesque-regular-webfont.woff2') format('woff2'),
         url('fonts/acherusgrotesque-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


html, body {	
    width: 100%;
    overflow-x: hidden;
}


h2, p, nav a {
 font-family: "acherusgrotesque-regular", "arial";
} 


/*HEADER*/

header {
    position: relative;
    position: fixed;
    height: 160px;
    background-color: white;
    border-bottom: 2px solid black;     
}


.logo img {
    position: absolute;
    height: 150px;
    left: 5%;
    top: 10px;
    z-index: 0;   
}


nav ul {   
    display: flex;
    position: absolute;
    top: 60px;
    right: 5%;
    z-index: 1;
    list-style-type: none; 
}


nav li {
    margin-left: 15px;
   margin-right: 10px;   
}



nav a {
	color: black;
	text-decoration: none;
}


#hamburger, hamburger-content {
    display: inline;
}


#bouton-hamburger {
    display: none;
    cursor: pointer;
    background: none;
    border: none; 
    font-size: 30px;
    padding: 0;
    vertical-align: top;
    line-height: 47px; 
    float: right;
    margin-right: 32px;
    margin-top: 50px;
}

#hamburger.overlay{
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4); 
}


#hamburger-sidebar {
    display: none;
    position: fixed; 
    z-index: 20;
    width: 35%;
    height: 30%;
    top: 0;
    right: 0;
    background-color: grey;
    transform: translateX(100%);
    transition: transform .2s ease;
}


#hamburger-sidebar li {
    display: block;
}


#hamburger-sidebar-body {
    padding: 16px 8px;
}




/*-------------Section 1 : SLIDER---------------------*/

.container-slider {
    position: relative;
    height: 600px;
    top: 0px; 
}


.sliders {
    height: 600px; 
    overflow: hidden;
    position: relative; 
}


.slide {
    width: 100%;
    display: none;
}


.active {
    display: block;
} 

/* Positionner le texte dans les slides */

.slide .texte {
    position: absolute;
    width: 100%;
    height: 180px;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    padding: 15px 60px;
    z-index: 0;
}


.slide .texte h2 {
    font-size: 45px;
}


.slide .texte p {
    margin-top: 10px;
    font-size: 20px;    
}


#texte1 {
    text-align: center;
}

/*icônes*/
.icon {
    position: absolute;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    z-index: 2;
    cursor: pointer;  
}


.pause_sign {
    position: absolute;
    left: 50%; 
    color: #fff;
    /*display: none;*/
}


.lecture_sign {
    position: absolute;
    left: 50%;
    top: 260px;
    display: none;
    color: #fff;  
}


.fleche_gauche {
    left: 2%;
    color: orange;
}


.fleche_droite {
    right: 2%; 
    color: orange;
}


.prev:hover, .next:hover {
    color: #fff;
}


.pause:hover, .lecture:hover {
    color: orange;
}


/*--------------------Section 2------------------*/
 .container-map-and-reservation {
    position: relative;
    height: 600px;
    margin-left: 5%;
    margin-top: 30px;
}


/*Cadre de reservation*/
.form-et-bouton {
    display: none;
}


.affichage-stations {
    margin-left: 22px;
    margin-top: 5px;
    margin-bottom: 10px;
}


.label-ligne {
    display: none;
    float: left;
}


#prenom {
    margin-top: 10px;
}


#nom {
    margin-left: 22px;
    margin-top: 30px;
}


input {
    border: solid grey 1px;  
}


.cadre-de-reservation {
    display: inline-block;
    width: 30%;
    border: 1px solid black;
    border-radius: 15px;
    padding-left: 15px; 
    padding-right: 15px;
    padding-bottom: 15px; 
}


.cadre-de-reservation h2 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-confirmer{
    display: none;
}


.btn-reserver, .btn-confirmer{
    padding: 10px 10px 10px 10px;
    border: 1px solid black;
    box-shadow: 2px 5px 8px grey;
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
    vertical-align: bottom;
}


.btn-reserver:hover, .btn-confirmer:hover{
    background-color: orange;
}


#message-erreur, #message-signature {
    margin: 0 10px 22px 5px;
    display: none;
}


#message-erreur {
    color: red;
}


#canvas {
    border: 1px solid black;
    left: 10px; 
    background-color: orange;
    display: inline-block;
    display: none; 
    vertical-align: bottom;
    margin-right: 25px;
}


#map-et-message {
    display: flex;
    flex-direction: column;
    float: right;
    margin-right: 35px;
    width: 60%;
}


#map {
    height: 450px;
    margin-bottom: 25px;
}


.message-reservation, .message-fin-reservation {
    display: none;
}


/* -------------------- Footer --------*/

footer {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #F4F4F4;
    font-size: 0.8em;
    text-decoration: none;
     display: flex;
    align-items: center;
}


footer a {
    position: absolute;
    left: 40%;
    color: black;
}


#copyright {
    position: absolute;
    transform: translateY(25%);
    right: 10px;
}

/*-------------------- Nouvelles règles si la fenêtre fait au plus 1025px de large -------------------------------*/

@media screen and (max-width: 1024px)
{
    
    /* ---------- HEADER --------- */ 
    .logo img {
        height: 140px;
        left: 15%;
    }
    
    
    /*-------- section 1 ---------*/ 
    
    /* Positionner le texte dans les slides */
    
    .container-slider {
        height: 550px;
    }      
    
    
    .sliders {
        height: 800px;
    }  
    
    
    .slide .texte {
        position: absolute;
        top: 360px;
        height: 150px;   
    }

    
    #texte1 {
        text-align: center;
    }
    
    
     .slide .texte h2 {
        font-size: 35px;
    }


    .slide .texte p {
        margin-top: 5px;
        font-size: 25px;     
    }
    
    
    
    /*icônes*/
    .pause_sign {
        left: 48%;  
    }


    .lecture_sign {
        left: 48%;
        top: 235px;
        display: none;
    }

    
    /*-----Section 2 ------*/
    /*formulaire*/
    
    .cadre-de-reservation {
        width: 38%;
        margin-left: 0px;
    }


    /*map et message timer*/
    
    #map-et-message {
        width: 55%;
    }
    
    
     input {
        border: solid grey 1px;  
    }
    
    
    #canvas{
        margin-right: 15px;
        margin-bottom: 15px;
    }
    
    
    /*-----Footer------*/
    footer {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #F4F4F4;
    font-size: 0.8em;
    text-decoration: none;
    display: flex;
    align-items: center;
    }
    
}


/*-------------------- Nouvelles règles si la fenêtre fait au plus 850px de large -------------------------------*/
@media screen and (max-width: 850px)
{
    
    .logo img {
        height: 120px;
    }

    
    /*-------- section 1 ---------*/ 
    
    /* Positionner le texte dans les slides */
    
    .container-slider {
        height: 550px;
    }    

    
    .sliders {
        height: 550px;
    }    
    
    
    .slide .texte {
        position: relative;
        top: 0px;
        height: 160px;   
    }
    
    
    .slide .texte h2 {
        font-size: 30px;
    }


    .slide .texte p {
        font-size: 25px;     
    }
    
    /*icônes*/
    
    .icon {
        top: 50px; 
    }


    .pause_sign {
        left: 45%;  
    }


    .lecture_sign {
        left: 45%;
        top: 285px;
        color: orange;  
    }

    
    /* --- section 2 ---- */
    
     .container-map-and-reservation {
        position: relative;
        height: 600px;
        margin-left: 5%;
        margin-top: 30px;
    }


    /*Cadre de reservation */
    
    input {
        border: solid grey 1px;  
    }


    .cadre-de-reservation {
        width: 95%;
        margin-bottom: 20px;
    }
    
    
     #canvas{
        margin-right: 50px;
         margin-bottom: 0px;
    }

    /*map et message timer*/
    
    #map-et-message {
        width: 95%;
    }

}


/* ---------------------Nouvelles règles si la fenêtre fait au plus 750px de large --------------------------------*/
@media all and (max-width: 750px)

{
    /* ---------- HEADER --------- */ 
    
    .logo img {
        height: 100px;
        left: 15%;
        margin-top: 30px;
    }

    
    #hamburger-content {
        display: none;
    }
    
    
    #bouton-hamburger, #hamburger-sidebar, .hamburger-activated #hamburger-overlay {
        display: block;
    }
    
    
    .hamburger-activated #hamburger-sidebar {
        transform: translateX(0); 
    }
    
    /*-------- section 1 ---------*/ 
    
    /* Positionner le texte dans les slides */
    
    .container-slider {
        height: 450px;
    }    

    
    .sliders {
        height: 400px;
    }    
    
    
    .slide .texte {
        position: relative;
        height: 160px;   
    }

    
    #texte1 {
        text-align: center;
    }
    
    
    .slide .texte h2 {
        font-size: 19px;
    }


    .slide .texte p {
        margin-top: 5px;
        font-size: 15px;     
    }
    
    /*icônes*/
    
    .icon {
    top: 200px; 
    }


    .pause_sign {
        left: 39%;  
        color: orange;
    }


    .lecture_sign {
        left: 39%;
        top: 385px;
        color: orange;  
    }


    .prev:hover, .next:hover {
        color: orange;
    }


    .pause:hover, .lecture:hover {
        color: orange;
    }

    
    /* --- section 2 ----*/ 
    
     .container-map-and-reservation {
        position: relative;
        height: 700px;
        margin-left: 5%;
        margin-top: 30px;
    }


    /*Cadre de reservation*/
    
    input {
        border: solid grey 1px;  
    }


    .cadre-de-reservation {
        width: 90%;
        margin-bottom: 20px;
    }


    /*map et message timer*/
    
    #map-et-message {
        width: 90%;
    }
    
    
    #canvas {
        margin-bottom: 10px;
    }
    
    
    /* -------footer --------- */


    footer a {
        width: 200px;
        text-align: center;
        left: 2%; 
    }


    #copyright {
        right: 10px;
    }
    
}

